<div class="jumbotron my-5">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg">

                <h3>Nuestras redes:</h3>
                <div class="redes">
                    <ul>
                        <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.facebook.com"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                    <img src="../../../assets/banner-footer/logo.png" alt="logo" class="logo">
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg">
                    <h3>Medios de Pago:</h3>
                    <img src="../../../assets/banner-footer/tarjetas.png" alt="">
                    <h3>Newsletter:</h3>
                    <form action="">
                        <input type="text" placeholder="email">
                        <button class="btn">Suscribite!</button>
                    </form>
                </div>
                <div class="col-sm-12 col-md-12 col-lg">
                        <h3>Contactanos!</h3>
                        <p>Tel: +5411-1234-1234</p>
                        <p>Email: mail@email.com</p>
                        <h3>Más información:</h3>
                        <p>Puntos de Venta</p>
                        <p>Trabajos a medidas</p>
                    </div>
        </div>
    </div>
    <hr>
    <p class="copy"> Pamina Goldenberg Thiery &copy; 2019</p>

</div>