<div class="jumbotron">
    <hr>
    <h2>Componente formularios</h2>
    <hr>

    <h3>Reactive forms</h3>
    <form novalidate [formGroup]="form">
        <div class="form-group">
            <label for="">Nombre:</label>
            <input class="form-control" type="text" formControlName="nombre">
        </div>
        <div *ngIf="form.controls.nombre.errors && form.controls.nombre.dirty">
            <div class="alert bg-dark" *ngIf="form.controls.nombre.errors.required">
                Este campo es requerido!
            </div>
            <div class="alert bg-dark" *ngIf="form.controls.nombre.errors.minlength">
                Ingrese al menos 3 caracteres!
            </div>
            <div class="alert bg-dark" *ngIf="form.controls.nombre.errors.maxlength">
                Ingrese hasta 16 caracteres!
            </div>
        </div>

        <div class="form-group">
            <label for="">Apellido:</label>
            <input class="form-control" type="text" formControlName="apellido">
        </div>
        <div class="form-group">
            <label for="">Edad:</label>
            <input class="form-control" type="number" formControlName="edad">
        </div>
        <div class="form-group">
            <label for="">Curso:</label>
            <input class="m-3" type="checkbox" formControlName="curso">
        </div>
        <div formGroupName="contacto">
            <!--para hacer un grupo nuevo-->
            <div class="form-group">
                <label for="">Email:</label>
                <input class="form-control" type="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="">Teléfono:</label>
                <input class="form-control" type="number" formControlName="telefono">
            </div>
        </div>
        <div class="form-group">
            <label for="">Foto:</label>
            <input class="form-control" type="text" formControlName="foto">
        </div>

        <input class="btn btn-dark" [disabled]="!form.valid" type="button" (click)="enviar()" value="Enviar">
    </form>
    <br>
    <br>
    <pre style="color:white"> {{ form.value | json }}</pre>
    <!--pre preserva el formato, y en este caso lo hace al pasarle un json.-->
</div>