<div class="jumbotron">
    <h2>Form usuarios</h2>

    <h3>Add User</h3>

    <form>
        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
        </div>

        <div class="form-group">
            <label for="">Username:</label>
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username">
        </div>

        <div class="form-group">
            <label for="">Email:</label>
            <input type="email" class="form-control" [(ngModel)]="user.email" name="email">
        </div>

        <div class="form-group">
            <label for="">Phone:</label>
            <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
        </div>

        <div class="form-group">
            <label for="">Photo URL:</label>
            <input type="text" class="form-control" [(ngModel)]="user.photo" name="photo">
        </div>

        <input type="button" class="btn btn-success" (click)="addUser()" value="Add User">
    </form>

    <div *ngIf="errorForm">
        <div class="alert alert-success m-3">
            Fill all the inputs!
        </div>
    </div>

    <h3>Users</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Photo</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor="let user of users; index as i">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td><img [src]="user.photo" class="photo"></td>
            <td><button class="btn btn-success text-white" (click)="erase(i)">X</button></td>
        </tr>

    </table>


</div>