body {
    background: linear-gradient(100deg, #c7e3e4 10%, #c6ccdf 90%);
}

h1 {
    font-family: 'Lobster', cursive;
    color: rgb(45, 82, 83);
    font-size: 42px;
    text-align: center;
}

.nav {
    text-align: center;
}

.nav li {
    display: inline;
}

aside {
    display: grid;
}

.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.fas {
    font-size: 42px;
    color: cadetblue;
    padding: 5px;

    }

a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: cadetblue;
    font-size: 20px;
    padding: 5px;
}

a:hover {
    background-color: rgb(224, 252, 253, 0.3);
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
}

section, aside {
    width: 300px;
    padding: 20px;
    border: 2px double white;    
}

section p {
    color: rgb(45, 93, 95);
}

section img {
    width: 150px;
    float: left;
    margin-top: 20px;
}

p {
    font-family: 'Lato', sans-serif;
}

section p::first-letter {
    font-weight: bolder;
    font-size: 3em;
    margin-right: 2px;
}