<div class="container-fluid">

    
    <h2 class="my-3">Bienvenidos a la tienda!</h2>

    <p>La tienda geek de regalos. Acá vas a encontrar toda clase de productos artesanales de tus series y películas favoritas. Envíos a todo el país (Antártida no incluída)</p>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  data-interval="2500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="../../../assets/carousel/who.jpg" alt="First slide">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <p>Llegaron los destornilladores sónicos!</p>
                    </div> -->
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/carousel/poke.jpg" alt="Second slide">
              <!-- <div class="carousel-caption d-none d-md-block">
                <p>Pokebolas en oferta.</p>
                </div> -->
            </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="../../../assets/carousel/wars.jpg" alt="Third slide">
              <!-- <div class="carousel-caption d-none d-md-block">
                <p>Descuentos en naves espaciales.</p>
                </div> -->
          </div>
        </div>
        <a class="arrow carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="arrow carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>