form {
    width: 75%;
}

textarea {
    resize: none;
    height: 100px;
}

input, textarea {
    border: none;
    border-left: 5px solid #FE4A49;
    background-color: #F4F4F8;
}

input:hover, textarea:hover {
    cursor: pointer;
    background-color: #E6E6EA;
}

.btn {
    background-color: #FE4A49;
    color: #E6E6EA;
    box-shadow: 3px 3px 3px rgba(170, 170, 170, 0.301);
}

.btn:hover {
    background-color: rgb(180, 26, 26)
}
