<div class="container">
  <div class="jumbotron">
    <h1>Componente Principal</h1>
    <br>
    <!--     <app-entradas></app-entradas>
    <app-estructuras></app-estructuras>
    <app-atributos></app-atributos>
    <app-formularios></app-formularios> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/entradas" routerLinkActive="active">Entradas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/atributos" routerLinkActive="active">Atributos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/estructuras" routerLinkActive="active">Estructuras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/formularios" routerLinkActive="active">Formularios</a>
          </li>

        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>

  </div>
</div>