<div class="jumbotron jumbotron-fluid">

    <h2>Productos en venta</h2>
    
<!--  -->
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let producto of listado; index as i">
        <div class="card" style="width: 16rem;">
            <div class="card-body">

                <img class="card-img-top" [src]="producto.foto" alt="Card image cap">
                    <h5 class="card-title">{{producto.item}}</h5>
                    <p class="card-subtitle">{{producto.precio}}</p>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <!-- <a class="btn" (click)="verProducto(producto.id)">{{producto.id}}Detalles</a> -->
                          <a class="btn" (click)="verProducto()" [routerLink]="['/productos/', producto.id]">{{producto.id}}Detalles</a>
                </div>
 
            </div>
        </div>
    </div>   
</div>