<section class="container-fluid">

    <h2 class="my-5">Mandanos tus consultas!</h2>

    <form role="form" method="post" action="/sendMessage" autocomplete="off">
        <div class="form-group">
            <label for="nombre"> Nombre:
        </label>
            <input type="text" class="form-control" name="nombre" placeholder="nombre" required>
        </div>

        <div class="form-group">
            <label for="email"> Email:
        </label>
            <input type="email" class="form-control" name="email" placeholder="email" required>
        </div>

        <div class="form-group">
                <label for="telefono"> Teléfono:
            </label>
                <input type="email" class="form-control" name="telefono" placeholder="telefono">
            </div>
    
        <div class="form-group">
            <label for="consulta"> consulta:
            </label>
            <textarea type="text" class="form-control" name="consulta" placeholder="consulta" required> </textarea>
        </div>

        <input type="button" value="enviar" class="btn btn-block" (click)="send()">


    </form>

  
</section>